@model DetailedTransactionReport;

@{
	var montosResume = new MontosResumeViewModel()
			{
				Incomes = Model.DepositsBalance,
				Expenses = Model.ExpensesBalance,
				Total = Model.Total
			};
}

<partial name="_NavigateBetweenMonths" model="@Model.StartDate" />

<partial name="_MontosResume" model="@montosResume"/>

@if (Model.transactionsByDateList.Count() == 0)
{
	<h5>No hay datos para mostrar</h5>
}
else
{
	<table class="table">
		<tbody>
			@foreach (var transactionByDate in Model.transactionsByDateList)
			{
				<tr class="fw-bold">
					<td colspan="3">
						@transactionByDate.TransactionDate.Day
						<span class="badge bg-secondary">
							@transactionByDate.TransactionDate.ToString("ddd")
						</span>
					</td>
					<td class="active">@transactionByDate.DepositsBalance.ToString("N")</td>
					<td class="pasive">@transactionByDate.ExpensesBalance.ToString("N")</td>
				</tr>
				@foreach (var transaction in transactionByDate.Transactions)
				{
					<tr style="vertical-align: middle">
						<td>
							<a asp-controller="transactions" asp-action="Edit" asp-route-id="@transaction.Id" asp-route-returnUrl="@ViewBag.returnUrl">
								Editar
							</a>
						</td>
						<td>@transaction.Category</td>
						<td>@transaction.Acount</td>
						<td class="active">@(transaction.OperationTypeId == OperationType.Income ? transaction.Monto.ToString("N") : null)</td>
						<td class="pasive">@(transaction.OperationTypeId == OperationType.Expense ? transaction.Monto.ToString("N") : null)</td>
					</tr>
				}
			}
		</tbody>
	</table>
}